#stravaOverview .col .card .card-header i {
    font-size:80px;
}

.medal i {
    font-size:60px;
    margin: 5px 0;
    color: #7abaff;
}

#map {
    height: 600px;
}


#myChart, #myChart2 {
    width:100% !important;
}

i.gold {
    color: #FFD700;
}

i.brown{
    color: #654321;
}

i.darkBlue {
    color: #0db520;
}
.clickableRow {
    cursor: pointer;
}

#runningStats .row .col .card .card-header i {
    font-size: 4rem;
    color:#fff;
}
#runningStats .row .col .card .card-body h5 {
    color:#fff;
}

#stravaOverview .card {
    width:100%;
}
